body {
  margin: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  width: 140px;
  height: 30px;
  background-color: chartreuse;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin: 30px;
}

.input {
  margin: 30px;
  height: 30px;
}
.box {
  margin: 30px;
  width: 700px;
  height: 500px;
  background-color: papayawhip;
  padding-left: 25px;
  padding-top: 25px;
}
