.body {
  height: 100vh;
  padding: 30px 30px 30px 30px;
  background-color: violet;
}

.title {
  font-size: 40px;
}
.title2 {
  font-size: 30px;
}
.subtitle {
  font-size: 20px;
}
.heading {
  font-weight: bold;
  margin: 20px 0 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  width: 200px;
}
